* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
}

html,
body {
    background-color: #141414;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8;
    color: white;
}


#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Hero Section */
.movenameandType h1{
    font-weight: bolder;
    font-size: 80px;
    
}

.fa-heart:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   color: red;
    cursor: pointer;
   
}
.fa-play:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   color: red;
    cursor: pointer;
}
.addToWacthList i {
    margin-left: 50px;
}
.addToWacthList span {
   font-size: large;
}
.addToWacthList span:hover{
    color: red;
    cursor: pointer;
}
/* Vide Player section */
#video {
    margin-top: 50px;
}

#ExitTrailerBtn{
    width: 100%;
    height: 100%;
    z-index: 99999999;
    justify-content: flex-end;
    align-items: flex-end;
}

/* Vide Player section End */
#videoSectionParentDiv {
    /* width: 800px; */
}

#videoSection {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    gap: 50px;
    padding: 50px;
    background-image: url('https://image.tmdb.org/t/p/original/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg');
    background-repeat: repeat;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: lighten;
    color: black;
    font-weight: bolder;
    border-radius: 10px;
    margin-top: 50px;
}

.movieImg {
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.movieDetails {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
    
    padding: 10px;
}

.movieDetails>div {
    margin-bottom: 30px;
}

.screenplay {
    display: flex;
    flex-direction: column;


}

.screenplay:first-child {
    font-weight: bold;
}


.movieDirectorName {
    display: flex;
    gap: 80px;
}


/* Cast Section */
#CastsectionParentDiv {
    margin-top: 50px;
}

#castsection {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;


}

.profile {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 5px;
    border: 2px solid red;
    width: 200px;
    height: 250px;
    padding: 25px;
    overflow: hidden;
}

.profile img {
    /* border-radius: 50%; */
    /* width:40vw; height:40vw; border-radius:50% */
    width: 15vmin;
    height: 15vmin;
    border-radius: 50%
}

.profile:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border: 2px solid wheat;
}

/* Movie Like HTis Section */
.recoomendedMovieH4 {
    margin-bottom: 50px;
}

#MovieLikeThisSection {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.movie {}

.movie img {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

.movie img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: scale(1.2);
    transition: transform linear 200ms;
}