html,
body {
    background-color: #141414;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;


}

*::-webkit-scrollbar {
    display: none;
}

/* Header */
header {
    background-color: transparent;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    transition: all ease 1000ms;
}

.black-bg {
    background-color: rgb(20, 20, 20);
}

.header-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-cont,
.right-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.brandlogo {
    max-width: 110px;
    cursor: pointer;
}

.main-nav {
    list-style: none;
    display: inline-flex;
    flex-direction: row;

    /* display: none; */
}

.nav-item {

    margin-right: 20px;
    color: #e5e5e5;
    opacity: .83;
    cursor: pointer;
}

.nav-item.active {
    color: white;
    opacity: 1;
    font-weight: 500;
}

.right-cont svg,
.right-cont img {
    margin-right: 22px;
    cursor: pointer;
}

.right-cont svg {
    color: white;
}

.right-cont img {
    max-width: 40px;
}




/* Menu on Hover */
#menuItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;



}

#menuItem:hover #menupages a {
    display: flex;
    flex-direction: column;
    display: block;
}

#menupages a {
    display: flex;
    flex-direction: column;

    border: 2px solid red;
    width: 150px;
    text-decoration: none;
    color: white;

    padding: 5px;


    display: none;
}

#menupages {
    margin-top: 180px;
    background-color: #141414;
    position: absolute;
}



/* Banner Section */
.banne-section {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 98vh;
    padding-top: 80px;
    position: relative;
}

.banner-content {
    display: flex;
    flex-direction: column;
    /* max-width: 100%; */
    padding-top: 70px;



}

.banner-title {
    color: white;
    font-size: 88px;
    line-height: 1.1;
    margin: 0;
    margin-bottom: 16px;
    max-width: 40%;

}

.banner-info {
    margin-bottom: 14px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.5;
    color: white;
    max-width: 40%;
}

.banner-overview {
    font-size: 16.4px;
    color: white;
    line-height: 1.3;
    max-width: 40%;

}

.action-button-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.action-button {
    border: none;
    background-color: white;
    padding: 8px 23px;
    margin-right: 11px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}


.action-button:last-child {
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
}

.banner-fadebottom {
    height: 120px;
    background: linear-gradient(180deg, transparent, rgba(37, 37, 37, .61), #141414);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Movies Section */

/* #movies-cont {
    margin-top: -20px;

}

.movie-section {
    margin: 41px 0;
}

.movie-section-heading {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;

}

.explore-nudge {
    color: #54b9c5;
    font-size: 12px;
    display: none;

}

.movie-section-heading:hover .explore-nudge {
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;


}

.movies-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.movie-item {
    width: 245px;
    object-fit: contain;
    margin-right: 6px;
    border-radius: 4px;
    position: relative;
    cursor: pointer;

}

.movie-item-img {
    width: inherit;
}


.movie-item iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
    border: none;
    outline: none;
}

.movie-item:hover iframe {
    display: block;
    transform: scale(1.9);

    overflow: visible;

}

.movie-item:hover {
    transform: scale(1.3);
    transition: linear 300ms;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: visible;



} */



/* Movie-Cont Css My  */

#movies-cont {
    margin-top:80px;

}


#movieh3{
    color: white;
margin-left: 50px;



}
.explore-nudge {
    color: #54b9c5;
    font-size: 12px;
    display: none;

}

#movieh3:hover .explore-nudge {
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;


}

#movieSection{
    /* margin-bottom: -100px; */
}

/* #movieRow{
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 10px;
} */
#movieRow{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    margin: 0 10px 0 10px;

}

.cover img{
    width: inherit;
    cursor: pointer;
    border-radius: 5px;
}


.square {
    width: 300px;
    height: 150px;
    transition: transform 300ms ease-out, border-radius 200ms ease-out;
    margin: 0 10px 0 10px;
    margin-bottom: 80px;
    
}

.square .cover {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    background-size: cover !important;
    background-position: center !important;
}
/* my css */
#texticon {
    width: 250px;
    /* border: 2px solid red; */
    align-items: center;
    justify-content: space-around;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: -10px;

}

#textfirst3icon {
    /* margin-left: 0px; */
}

#textlasticon {
    /* margin-right: 10px; */
}

.text button {
    border-radius: 50px;
    padding: 5px;
}
.text button:hover{
    border: 2px solid white;
    cursor: pointer;
}

.text i {
    align-items: center;
    justify-content: center;
    padding: 3px;
}

#textcontent{
    display: flex;
    flex-direction: column;
    margin-top: 3px;
    justify-content: center;
    align-items: center;

}
#textp{
 font-size: smaller;
 display: flex;
 align-items: center;
 justify-content: space-around; 
 
 margin-bottom: -20px; 
}
#textp span{
    font-weight: bold;
    color: green;
}
#avgrating{
    font-weight: bold;
    color: green;
}
#itemgenres{
    font-size: small;
    
}

.square .text {
    display: none;
    background: #181818;
    color: #fff;
    width: 100%;
    height: fit-content;
    padding: 5px;
    box-sizing: border-box;
    transition: opacity 300ms ease-out, border-radius 200ms ease-out;
    border-radius: 0 0 10px 10px;
}

.square:hover {
    border-radius: 10px;
    transform: scale(1.3);
    box-shadow: 0 0 2px #000a;
}

.square:hover .text {
    display: block;
}



.square.one:hover .cover {
    background: url(https://img.buzzfeed.com/buzzfeed-static/static/2021-07/22/16/enhanced/5cdbc5809df1/anigif_enhanced-8810-1626970483-2.gif) skyblue;
}


/* Movie-Cont Css My  End */

/* Responsive CSS */

@media (max-width:767px) {
    .main-nav {
        display: none;
    }

    .banner-overview,
    .banner-title,
    .banner-info {

        max-width: 100%;

    }


}