:root{
    --primary-color:#e50914;
    --dark-color:#141414;
    --light-color:#f4f4f4;
}

*{
    margin:0;
    padding:0;

}
body{
    font-family:Arial, Helvetica, sans-serif;
    background: #000000;
    color:#999999;

}
ul{
    list-style: none;
}
h1,h2,h3,h4{
    color: #ffffff;
}
h3{
    font-weight: lighter;
}
a{
    color: #ffffff;
    text-decoration: none;
}
p{
    margin: 0.5rem 0;
    font-weight: bold;
    color: #ffffff;

}
img{
    width:100%;
}
.showcase{
    width:100%;
    height:100vh;
    position:relative;
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/afc06103-4d6a-4236-b496-34b671a7e9ba/383fc36a-aa04-4dfd-95a0-a4b71bc21eed/IN-en-20221003-popsignuptwoweeks-perspective_alpha_website_medium.jpg) no-repeat center center/cover;

}
.showcase::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    box-shadow: 120px 100px 250px #000000 ,inset -120px -100px -250px #000000;
}
.showcase-top{
    position: relative;
    z-index: 2;
    height:90px;
 
    
}
.showcase-top img{
    width:160px;
    position: absolute;
    top:50%;
    left:0;
    transform: translate(40%, -50%);

}
.showcase-content{
    position: relative;
    margin: 0 26%;
    z-index: 2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 9rem;
}
.showcase-content h1{
    font-weight: 700px;
    font-size: 55px;
    margin:0 30px;
    max-width: 800px;
    line-height: 74.5px;

}
.showcase-content h3{
    color: white;
    font-size: 25px;
    margin:16px 0;
}
.showcase-content p{
    font-size: 19.2px;
    font-weight: 300;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}
.showcase-content input{
    position: absolute;
    left:0;
    bottom:-8vh;
    width:454px;
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.5rem;
}
.btn{
    display:inline-block;
    background:var(--primary-color);
    color:white;
    padding: 0.5rem 1.2rem;
    font-size:1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 5px 3px rgba(0,0,0,0.45);
}
.btn:hover{
    opacity: 0.9;
}
.btn-rounded{
    border-radius: 5px;
}
.showcase-content .btn-lg{
    position: absolute;
    right: 0;
    bottom: -8vh;
    padding:0.5 rem 1.2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    height: 31.5px;
    width: 12rem;

}
.showcase-top a{
    position: absolute;
    top:50%;
    right:0;
    transform: translate( -60%, -50%);
}
.card-0,.card-1,.card-2,.card-3{
    border-top: 8px rgb(69,69,69) solid;
    padding:50px;
}
.card-0{
    position:relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc-0{
    padding-left: 80px;
}
.style-cards h1{
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
}
.style-cards h3{
    font-size: 1.6rem;
    line-height:2rem;
}
.card-0 video{
    position:relative;
    width:100%;
    height:54%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;

}
.card-0 img{
    grid-column:2/2;
    grid-row: 1/2;
}
.card-1{
    position:relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc-1{
    padding-left: 80px;
}
.card-2{
    position:relative;
    display: inline-grid;
    grid-template-columns: 40% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc-2{
    padding-left: 80px;
}
.card-2 video{
    position:relative;
    width:100%;
    height:54%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;

}
.card-3{
    position:relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}
.desc-3{
    padding-left: 80px;
}
.faq{
    text-align: center;
}
.faq h1{
    padding-bottom: 40px;
    font-size: 3rem;
}
.questions{
    display:flex;
    flex-direction:column;
    flex-basis: 40%;
    align-items: center;
}
.questions li{
    padding: 20px 30px;
    margin: 5px;
    font-size:1.6rem;
    background-color: rgb(69,69,69);
    color: white;
    text-align: left;
    width:60%;
}
.faq p{
    padding-top: 60px;
    align-items: center;
    grid-template-columns: 50% 40%;

}
.card-0 video{
    position:relative;
    width:100%;
    height:54%;
    grid-column:2/2;
    grid-row: 1/2;
    z-index:-1;
}
.card-0 img{
    grid-column: 2/2;
    grid-row: 1/2;
}



/*EMAIL ADDRESS STARTS*/
.email-address-container{
    z-index: 1;
    position: relative;
    text-align: center;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    background-color: black;
    font-size:larger;
   
}
.email-address-container input{
    width: 40%;
    padding: 22px;
    border: none;
    margin-top: 0.5%;
    outline: none;
}
.email-address-container button{
    padding: 22px;
    border: none;
    width: 15%;
    background-color: #e50914;
    color: white;
    margin-left: -0.3%;
    font-weight: bold;
    font-size: medium;
}
/*EMAIL ADDRESS ENDS*/



/*RESPONSIVE CSS CODE*/

  
@media (max-width: 943px){
   
    /*ENJOY ON YOUR TV*/
    .main-section .section-container{
        display: block;
    }
    .main-section .section-container .left-column{
        width: 100%;
        text-align: center;
    }
    .main-section .section-container .right-column{
        width: 100%;
    }
    /*DOWNLOAD YOU SHOW TO WATCH OFFLINE*/
    .main-section .section2-container{
        display: block;
    }
    .main-section .section2-container .left-column{
        width: 100%;
    }
    .main-section .section2-container .right-column{
        width: 100%;
        text-align: center;
    }
    
}

@media (max-width:  774px){
    /* ENJOY ON YOUR TV */
    .main-section .section-container{
        padding-bottom: 0px;
    }
}


   
   

@media (max-width: 500px){
    
    /*ENJOY ON YOUR TV*/
    .main-section .section-container .right-column{
        height: 270px;
    }
    /* DOWNLOAD YOUR SHOW TO WATCH OFFLINE */
    .main-section .section2-container .left-column .box{
        width: 100%;
    }
 
}
