body{
    background-image: url("https://assets.nflxext.com/ffe/siteui/acquisition/login/login-the-crown_2-1500x1000.jpg");
}
#container{
    display: block;
    margin: auto;
    width: 350px;
    height: 230px;
    /* border: 2px solid red; */
    /* text-align: center; */
    background:white;
    padding: 55px;
    color: black;
    padding-right: -50px;
}
#go{
    display: block;
    margin: auto;

    /* border: 2px solid blueviolet; */
    /* padding: 20px; */
}
h2{
    /* padding-top: -30px; */
    font-size: 40px;
    padding-bottom: 30px;
}
#you{
    padding-top: 20px;
    padding-bottom: 30px;
}
p{
    font-size: 17px;
}
#now{
    /* padding-top: 10px; */
    width: 95%;
    height:55px;
    background-color:#0080ff ;
    font-size: 20px;
    border: none;
}
