#child_container{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 5%;
    margin-top: 17vh;
   
}

#logos_img{
    width: 40%;
    margin: auto;
    padding: 10px;
}
#logos_img >img{
    width: 100%;
}

.steps{
    text-align: center;
    font-size: 15px;
    margin: 1vh;
}
#logos_img~h1{
    width: 60%;
    margin: auto;
    font-size: 32px;
    text-align: center;
}
.context{
    font-size: 18px;
    width: 65%;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

#next{
    width: 40%;
    margin: auto;
    font-size: 32px;
    background-color: red;
    color: #fff;
    border: none;
    padding: 12px 15px;
    border-radius: 10px;
    margin-top: 25px;
}


@media screen and (max-width:1000px)  {
    #child_container{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 5%;
        margin-top: 20vh;
       
    }
} 



@media screen and (max-width:800px)  {
    #child_container{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5%;
        margin-top: 20vh;
       
    }
    #logos_img{
        width: 60%;
    }
    .context{
        font-size: 18px;
        width: 75%;
    }
    #logos_img~h1{
         width: 70%;
    }
}
