
#child_container{
    width: 27%;
    margin: auto;
    padding: 10px;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* position: relative; */
}

.steps{
    font-size: 13px;
}
#child_container>h1{
    font-size: 32px;
    padding-left: 4px;
    margin-top: 1vh;
}

.context{
    font-size: 18px;
    margin-top: 1vh;
   line-height: 35px;
}

form{
    position: relative;
    align-items: baseline;
}


input{
    margin-top: 1vh;
    width:95%;
    font-size: 18px;
    padding: 15px 0px 15px 0px;
    border: 1px solid #8c8c8c;
    padding-left:10px ;
    
}
label{
    position: absolute;
    align-items: center;
    margin-top: 3vh;
    left: 2%;
}

input:focus ~label{
    transform: translateY(-0.7em);
    
}
/* input:not(:placeholder-shown) input:not(:focus) ~label{
    transform: translate(-0.7em);
} */
#next{
    width: 100%;
    background-color: red;
    color: white;
    border: none;
    border-radius:5px;
    font-size: 22px;
    padding: 10px;
    margin-top: 3vh;
    cursor: pointer;
}

::placeholder{
   padding-left:5px ;
}



@media screen and (max-width:1000px)  {
    #child_container{
        width: 55%;
        display: flex;
        flex-direction: column;
        gap: 5%;
        margin-top: 10vh;
       
    }
    .context{
        font-size: 18px;
        width: 75%;
    }
    #lchild_container>h1{
         width: 70%;
    }
    #child_container>input{
        margin-top: 1vh;
        width:100%;
    }
    #next{
        width: 100%;
    }
}

@media screen and (max-width:600px)  {
    #child_container{
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 5%;
        margin-top: 10vh;
       
    }
    .context{
        font-size: 18px;
        width: 70%;
    }
    #lchild_container>h1{
         width: 70%;
         font-size: 28px;
    }
    #child_container>input{
        margin-top: 1vh;
        width:100%;
    }
    #next{
        width: 100%;
    }
}

/* Dheeraj css */
#ema{
    margin-top: 5px;
}