
#main_container{
    width: 50%;
    margin: auto;
}

.list{
    display: flex;
    align-items: center;
    font-size: 18px;
}
.list >img{
    width:4%;
}

#second_child{
    width: 100%;
    margin: auto;
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: space-around;
    text-align: center;
}
.div_items{
    width: 15%;
    height: 15%;
    background-color: red;
    color: white;
    padding: 60px 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
}
#monthly_price{
    width: 100%;
    margin: auto;
    display: flex;
    margin-top: 3vh;
    align-items: center;
    /* gap: 5vw; */
    gap: 10px;
    text-align: justify;
}
#monthly_price > div{
    width: 15%;
    height: 15%;
}
#video_quality{
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 3vh;
    gap: 10px;
}
#resolution{
    /* width: 60%;
    margin: auto; */
    display: flex;
    margin-top: 3vh;
    gap:10px;
}

.one{
    flex: 4;
    text-align: center;
}
.two{
    flex: 1.5;
    text-align: center;
}
.three{
    flex: 1.5;
    text-align: center;
    /* color: red; */
}
.four{
    flex: 1.5;
    text-align: center;
}
.five{
    flex: 1.5;
    text-align: center;
}

#fourth_child{
    width:30%;
    margin: auto;
}
#next{
   width: 100%;
   border: none;
   color: #fff;
   background-color: red;
   border-radius: 2px;
   font-size: 22px;
   padding: 15px ;
   margin-top: 4vh;
}


#phn_section{
    display: flex;
    justify-content: space-around;
}

#icons_container{
    display: flex;
    justify-content: space-around;
}

.div_items{
    opacity: 0.6;
}
.div_items:hover{
    opacity: 1;
}