/*QUESTION SECTION STARTS*/
.question-container{
    background-color: black;
    border-top: 8px solid #222;
    padding-top: 60px;
}
.question-container h1{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 3%;
}
.question-container button{
    border: none;
    background-color: #303030;
    color: white;
    width: 60%;
    padding: 16px;
    font-size: 23px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: relative;
}
.question-container button img{
    width: 3%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    right: 20px;
}
.question-container .answer1,
.answer2,
.answer3,
.answer4,
.answer5,
.answer6{
    background-color: #303030;
    width: 60%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    font-size: 20px;
    display: none;
    
}
.question-container .answer1,
.answer2,
.answer3,
.answer4,
.answer5,
.answer6 p{
  color: white;
}
/*QUESTION SECTION ENDS*/
